[2015-02-02 23:37] Windsplunts opened #1 "Support serial mode on Mac OS"
On OS X Yosemite with XCode command line tools and binary installed Golang, go get fails. Here is my command prompt window

![image](https://cloud.githubusercontent.com/assets/1868926/6011505/7f588b56-ab0a-11e4-80e7-b0283a089ba8.png)

[2015-02-03 10:12] vietnq commented on #1
Thanks for reporting, I don't have a Mac so I haven't implemented serialPort on that platform yet. I'll give a shot soon.

[2015-02-18 22:12] dyzajash opened #2 "[error] Can't use on arm"
Hello,

I'm trying to use your package on arm v7 board (beagle bone black), but with no luck.

Error:

[code]

[2015-02-18 23:51] #2 closed

[2015-04-17 09:05] gonium opened #4 "Modbus-RTU: Only first byte of answer is read from my device"
I'm implementing a client for a Eastron SDM630 electricity meter using your library. The aduRequest ist composed and send correctly, but your library only reads one byte back. I suspect that this relates to the handling of the select call in serial_linux.go, but I'm not sure.

My setup consists of a RS485-USB-dongle that shows up as ````/dev/ttyUSB0```` under my Ubuntu 14.04-box. I can successfull

[2015-04-17 17:28] nqv commented on #4
I should provide expected length to read from serial port for each command.
What if you put `time.Sleep(300 * time.Millisecond)` before syscall.Select (serial_linux.go:123), will you have full response data?

[2015-04-17 19:12] gonium commented on #4
@nqv: Thank you very much. If I insert a sleep time, I can correctly receive the data (and the data is also correctly decoded, see [my last commit](https://github.com/gonium/gosdm630/commit/b353640b98a5f418ea38ee5230484212f8af5d8c)). I guess that you can determine the sleep time from the baudrate and the expected response length.

[2015-04-17 19:54] nqv commented on #4
@gonium Thanks. I'll fix this issue as you have suggested.

[2015-04-20 09:20] nqv commented on #4
@gonium Thanks for your pull request, I believe the issue has been fixed. I'd be grateful if you can test and let me know if it works with your device.

You also need to run `go get -u github.com/goburrow/modbus` to also download github.com/goburrow/serial as I move the serial part to another repository.

Thanks

[2015-04-20 10:01] gonium commented on #4
@nqv I just switched from my temporary fork back to your master - now everything works as expected. Please note that I am currently using the SDM630 device in its factory settings: 9600 8N1. I didn't test higher baud rates.

Thank you very much for your help! Closing this for now.

[2015-04-20 10:01] #4 closed

[2015-04-27 03:29] chengziqing opened #5 "WSARecv tcp 192.168.1.222:10454: i/o timeout,when update To go1.4.2"
Use of the latest code.And update To go1.4.2.

modbus.NewTCPClientHandler
error:WSARecv tcp 192.168.1.222:10454: i/o timeout

[2015-04-27 03:50] chengziqing commented on #5
I already know.
FuncCodeReadDiscreteInputs = 2
modify
FuncCodeReadDiscreteInputs = 3

because FuncCodeReadDiscreteInputs is const.
I must  edit lib code.

[2015-04-27 05:21] nqv commented on #5
@chengziqing  Would you please clarify what the issue is? Did you got i/o timeout when using ReadDiscreteInputs or ReadHoldingRegisters?
From what you've suggested, I think your server does not support function code ReadDiscreteInputs (0x02)?

[2015-06-18 18:43] srini-raju opened #7 "Data returned by reads"
Hi,
I started working on modbus and saw your package. Very well written and works very well. Thanks for doing this. I don't have much experience with modbus. I have a question about the data returned by some read methods:
* Read discrete's and Read coils are supposed to return data in hex. Is it getting converted to "int" somewhere in the code?
* How to get the value for a single coil or register?

[2015-06-22 01:53] nqv commented on #7
Sorry for late reply.

- The library does not convert data in response. I think the hex you see is the representation of the response data.
- See https://github.com/goburrow/modbus/blob/master/api.go
- Same answer to the first question.
Do you have any examples or know where in the specs saying data is in hex?

[2015-06-25 04:55] nqv commented on #1
Should work now per https://github.com/goburrow/serial/pull/1

[2015-06-25 04:55] #1 closed

[2015-07-21 16:17] jonaz opened #8 "response slave id does not match request"
Im not sure if this is an issue with the library or an issue with my modbus device.
I have a raspberry pi with a USB modbus dongle and a ventilation system which i fetch temperatures from modbus registers.

I make the connection like this and then fetch registers every 30 second after that.
[code]

It works fine for a few days then i start getting below errors.
I restart my app and its fine again.

[2015-07-30 02:50] nqv commented on #8
@jonaz Sorry for late response. Do you see any other errors before:
[code]
It would be great if you have request/response logged somewhere so I can take a look.

[2015-07-30 02:51] #7 closed

[2015-08-28 07:20] arnavbansal95 commented on #4
@gonium How to connect Pi to TTL to 485 Converter?

[2015-08-28 07:49] gonium commented on #4
Hi @arnavbansal95, I prefer using cheap (as in 3 USD) USB-to-RS485 converters. If you really need to connect directly to the extension header of your RPi you can have a look at the schematics of [this Sparkfun RS485 shield](https://www.sparkfun.com/products/13000).

[2015-08-28 08:07] arnavbansal95 commented on #4
@gonium Thanks ....I also got a Usb to 485 converter....but I don't know how to install its driver on raspian as I am new to linux....could you help me with that?

[2015-11-29 23:07] semihalev opened #9 "Feature Request: Modbus TCP Read with slaveid"
TCP client read only slaveid=0, are there any solution read other slaves?

Thanks.

[2015-11-29 23:09] semihalev commented on #9
I see in readme, sorry.

[2015-11-29 23:09] #9 closed

[2015-12-10 02:12] #8 closed

[2015-12-10 02:12] #5 closed

[2016-03-06 20:58] brianfoshee opened #10 "Serial connection timing out"
I am trying to port some existing C code over to Go using this package but keep getting a `serial: timeout` error on reading registers. I've tried with both `ReadHoldingRegisters` and `ReadInputRegisters`, and with timeouts up to 60s.

I have a solar charge controller with RS232 MODBUS port (spec [here][sunsavermodbus]) connected to a Raspberry Pi running arch linux, through a USB to RS232 convert

[2016-03-06 23:23] nqv commented on #10
Did it actually wait for 5 seconds before returning ErrTimeout? if set timeout to 0 (infinity), do you still get the error?

[2016-03-06 23:33] brianfoshee commented on #10
It does wait. If I set the timeout to 0 it hangs until I stop it.

[2016-03-07 00:09] nqv commented on #10
To be honest, I have never tried running this on RPi but I'm willing to fix this issue so I'd be grateful if you can help me this:
- Can you please enable debug with your C program & libmodbus (`ctx->debug`) to check if data sent is exactly same to `01030008001645c6`.
- Would you be able to connect your board to a computer or something that can verify serial data was sent?
- Do you have kermit ins

[2016-03-07 03:01] brianfoshee commented on #10
I'd be happy to help you fix it.

I unfortunately am not physically at the location where the RPi and solar charger are, so I won't be able to plug my computer into either of them to verify operation.

Here is the output with the C program's debugging turned on:
[code]

I installed kermit, but I've never used it before and I'm not sure how to send that binary data to it. I ran:
[code]
but from the

[2016-03-07 03:09] brianfoshee commented on #10
I will also add that although I am not physically where this setup is located, I do have a raspberry pi, arduino, and USB FTDI chip where I am now. I could probably hack something together with that if necessary.

[2016-03-07 07:43] nqv commented on #10
So the frame data is similar `[01][03][00][08][00][16][45][C6]`
I'm wondering if this is the problem with fd select with serial port. Would you please go to $GOPATH/src/github.com/goburrow/serial/serial_linux.go and comment out line 125 to 129 and rebuild it (https://github.com/goburrow/serial/blob/master/serial_linux.go#L125)

[code]
I'd like to see if it can read any data at all.

[2016-03-07 14:26] brianfoshee commented on #10
With that commented out I get:

[code]

[2016-03-11 04:03] brianfoshee commented on #10
Is there a test I could do with the serial package and the raspberry pi and arduino I have on hand to see if there's an issue at the serial communications layer?

[2016-03-11 09:55] nqv commented on #10
I have got a RPi2, will install ArchLinux and test with my usb-serial port this weekend.

[2016-03-11 14:22] brianfoshee commented on #10
Great, thank you!

[2016-03-13 08:45] nqv commented on #10
Hi @brianfoshee

It seems the problem has been fixed in `github.com/goburrow/serial` package. Would you please reset any changes made to the serial package in local and pull the latest:
[code]
Let me know if the fix does (not) work for you.

Thank you.

[2016-03-13 15:50] brianfoshee commented on #10
It is working now! Thank you very much @nqv, I appreciate it!

[2016-03-13 15:50] #10 closed

[2016-05-22 09:13] nemtsevp opened #11 "Wait until timeout on error"
Hello. Can not receive proper error message. Trying to read non-existing address from code below. Code is running infinite if no timeout defined. Slave device is freemodbus-1.5.0 driven avr, was successfully tested with this https://sourceforge.net/projects/qmodmaster/

`package main

import (
	"github.com/goburrow/modbus"
	"fmt"
	"time"
)

func main() {
	handler := modbus.NewRTUClientHandler("/de

[2016-05-23 12:04] nqv commented on #11
I'll try again, would you please let me know your OS? @nemtsevp

[2016-05-23 12:13] nemtsevp commented on #11
I've tried this on Ubuntu-16.04 @nqv

[2016-05-30 08:44] adiclepcea commented on #11
If you mean that you are trying to request data from a slave that does not exist, then it would be ok to wait until the timeout has exceeded as no response will arrive back. This implementation is not exactly following the minimum timeouts for package responses as defined by the modbus standard which is a minimum of 3.5 characters timeframe (depends on the speed).
Most master implementations use a

[2016-05-30 11:22] nemtsevp commented on #11
I meant non-existing register address, device itself is visible, slave address is correct and correct register addresses are readable. Ok, i can set timeout and get a response, but even if timeout is set response is that timeout is reached, when it should be like "Invalid register address". So i can not ever get "Invalid register address" error. @adiclepcea Thanks for your participation! I think,

[2016-05-30 13:28] adiclepcea commented on #11
I see that the PR was accepted.
I am really glad to give a hand. Even more so since this project is a help for me too.

[2016-05-30 17:06] #11 closed

[2016-09-25 18:34] fleimgruber opened #13 "Feature Request: Modbus slave simulator"
Have you already thought about implementing a Modbus slave (TCP server)?

This would be a prerequisite for the following special use-case: say a certain slave device (lets call it "remote") only works in single-master mode (meaning only one master connected at any time). To connect it to multiple masters, one could create a "proxy" consisting of a slave and a master. The proxy slave forwards reque

[2016-09-25 22:37] nqv commented on #13
Yeah, I had thought about implementing a modbus server, but found all I need with [this binary](http://www.modbusdriver.com/diagslave.html).

But you're right, a proxy/router is a nice feature to have. Feel free to send a PR. I also will work on this if time permits.

Thank you

[2016-10-08 06:28] xiegeo commented on #13
Hi I am implementing a [Modbus library](https://github.com/xiegeo/modbusone) that also supports server/slave side, because I need to be able to switch between server and client modes. I am borrowing source code from here as much as possible, assuming @nqv is OK with that.

The server is like a client turned inside out, and I like to experiment, so my code is too different to send any pull requests

[2016-10-08 06:45] xiegeo opened #14 "low and high bytes are switched in CRC"
This "bug" does not effect usage, only an internal naming confusion.

See reference http://www.modbus.org/docs/Modbus_over_serial_line_V1_02.pdf page 39 and 42.

The low byte should be serialized before the high byte, but it is the opposite in source code. The switch also happens when low byte and high byte are computed, the two switches resulting in the correct CRC written.

[2016-10-09 11:33] nqv commented on #14
You are right. I don't remember which doc I referred when working on that. Will fix, also PR is welcome :)

[2016-10-09 19:14] xiegeo commented on #14
I'll send a PR.

[2016-10-09 19:44] xiegeo commented on #14
See PR #15

[2016-10-10 02:03] #14 closed

[2016-11-04 14:45] OrangeTux commented on #13
@fleimgruber

[2016-11-04 14:51] OrangeTux commented on #13
@fleimgruber  FWIW I had the same use case a while ago and build the solution in Python using. I've you are interested I could publish the source.

[2017-02-16 19:07] OrangeTux opened #16 "Unexpected disconnects from ClientHandlers."
While investigating why one of our server experiences thousands of connections being in TIME_WAIT state I discovered an undocumented and unexpected side effect of [modbus.TCPClientHandler.Send()`](https://github.com/goburrow/modbus/blob/master/tcpclient.go#L138):

[code]

When `Send()` is called and a connection has not been it established yet, the `Send()` connects for 1 request and then disconne

[2017-02-17 03:24] nqv commented on #16
You're right, I haven't documented it thoroughly, just this line is README isn't enough:

I just want to make the ClientHandler like `http.Transport`. May be I should only close the connection after a period of inactive.

[2017-03-01 06:09] jonseymour opened #17 "Managing multiple slaves with the RTU API, perhaps concurrently."
For a use case I have I may need to talk to multiple slaves across a single RTU serial connection. It seems that the way to cater for this case is that to update RTUClientHandler.SlaveId immediately prior to each IO so that the packets are always encoded with the correct slave id.

Is my reading of the code correct?

I could do this in my application code, but then I have to pass around the RTUCli

[2017-03-01 20:41] nqv commented on #17
wrt concurrent access, I'm in the process of adding mutex in the client transporter and fix #16 (expected to be done this week :) )
The client api doesn't have SlaveId in the parameter as using slaveId for TPC is rare. My idea originally is the ability to share the transporter layer among clients, which is like:
[code]

May be I can add an helper
[code]
Please let me know if that will resolve your

[2017-03-01 22:29] jonseymour commented on #17
I think from my point of view, `NewClientWithSlaveId(c Client, slaveId int)` does what I need and has the advantage that if I need to defer the creation of clients for other slaves, that I can do so without carrying the handler around.

[2017-03-01 23:47] jonseymour commented on #17
BTW: prototyping this, I realised that there is probably a need to add a `Close() `method to the Client interface and also a reference counter in the implementation to allow a Close() on the underlying handler to be deferred until there are no more references (otherwise this will have to be tracked separately).

[2017-03-02 23:52] nqv commented on #17
I don't think Close is needed. Will send a PR for #16 this weekend

[2017-03-04 18:12] cblauvelt opened #18 "Change input of WriteSingleCoil from uint16 to bool"
Having the second input to Client.WriteSingleCoil  be a boolean instead of a uint16 that requires either 0xFF00 or 0x0000 seems more intuitive. What would you think of this change?

[2017-03-06 02:22] nqv commented on #18
Thanks for your suggestion. I agree that a boolean may be better in this case, but I also would like to not change the API to make it backward compatible. I think `uint16` is fine as that is what server responds. What do you think if I add `ON` and `OFF` constants (0xFF00 and 0x0000) instead?

[2017-03-08 13:00] #16 closed

[2017-03-09 23:56] cblauvelt commented on #18
I think that would work fine. I was thinking of defining these in my own program as well but if it's in the library it wouldn't be necessary. I would also recommend that there be an example in the README.

[2017-04-14 07:21] NilanjPatel commented on #4
@gonium how you did sleep thing to to read energy meter??

[2017-05-09 14:39] ggenien opened #20 "Found a bug when slave device return error code"
Modbus RTU Client:
**"panic: runtime error: slice bounds out of range"**

This panic occurs when slave device return an error code, and the frame return may be not standard.
source: rtuclient.go, n1
line: err = io.ReadFull(mb.port, data[n:5])

I changed for temporary:
err = fmt.Errorf("modbus: return error code")
n1 = 0

Maybe you could check code for similar problems.
Thank you for your product.

[2017-05-12 00:37] nqv commented on #20
Thanks for your report, I'll take a look this weekend

[2017-05-25 02:30] imr opened #21 "Windows serial receive"
I am getting serial timeout issues in Windows 7. I created a new Device Id command, code here: https://github.com/imr/modbus/commit/c476ad332569f0835d276c7f7e9e62f32ffe4ae1 since the equipment I am interfacing with does not use typical commands such as writing or reading coils. I can see the equipment response on an oscilloscope, but the command keeps returning an error of "serial timeout".

Here

[2017-07-19 12:40] gonium commented on #20
I'm running into the same problem with the Modbus RTU client. The full stacktrace looks like this:

[code]

This occurs when the RTU connection is faulty, i.e. the line corrupts error messages. The corrupted messages are then shorter/longer as expected by the [functionFail code](https://github.com/goburrow/modbus/blob/master/rtuclient.go#L150). A length check before assuming 5 bytes to read should

[2017-07-19 12:44] gonium commented on #17
I had the same issue - which I solved by setting the ``Slave`` of the RTUClient before sending anything:

https://github.com/gonium/gosdm630/blob/master/src/github.com/gonium/gosdm630/modbus.go#L114

There is no need to ``Close()`` anything. I understand (and appreciate!) @nqv's view to provide a unified API independent of the transport, but for practical applications of the RTU transport, one nee

[2017-07-20 05:10] nqv commented on #20
Thanks, I will fix this issue very soon.
Really sorry for the delay.

[2017-07-20 05:40] #20 closed

[2017-07-25 13:20] gonium commented on #20
I just updated my project with your latest release, and connected my faulty device. I do not see the error, so in my case, your fix worked. Thank you!

[2017-08-07 13:05] arsohel opened #23 "ValueError: The slave is indicating an error. The response is: '\x01\x83\x02\xc0\xf1'"
when i run the program its showing value error

import minimalmodbus
instrument = minimalmodbus.Instrument('COM3', 1) # port name, slave address (in decimal)
instrument.serial.baudrate = 9600
instrument.serial.bytesize = 8
instrument.serial.parity = minimalmodbus.serial.PARITY_EVEN
instrument.serial.stopbits = 1
instrument.serial.timeout = 1
instrument.debug = True
instrument.mode = minimalmodbus.

[2017-11-29 11:11] gwhite1893 opened #26 "redundant condition"
https://github.com/goburrow/modbus/blob/0d0a427beb37599ff34f8d74617af5ac403e9700/rtuclient.go#L146

Hi, are we testing this condition in 144 line?
`if n < bytesToRead {`

Thank your for your job.

[2018-03-22 17:58] imr commented on #21
I have figured out that this is due to how the serial receive is handled. The current code requires knowing in advance the exact number of bytes the response from the remote device will be. This is not always possible with device id commands or user functions. Can the serial receive code be changed to have a serial timeout after the stop bit is received and process the variable length message?

[2018-03-22 21:12] nqv commented on #21
Thank you, I'll check it out

[2018-04-04 22:35] Aditya23456 commented on #17
Hi,

Thanks for the great library. I don't see any development branch and was wondering if there's any support for concurrent Modbus client or any work done for supporting it ?

Thanks once again,
Aditya

[2018-05-12 13:54] andig opened #28 "Output formatting inconsistent (minor)"
It would be nice if send an receive were formatted identically:

    RTUClientHandler: 2018/05/12 13:52:47 modbus: received 01 04 04 43 69 0b 7c 38 cd
    RTUClientHandler: 2018/05/12 13:52:47 modbus: sending "\x01\x04\x00\x04\x00\x020\n"

[2018-05-16 09:14] surbhigup commented on #4
@gonium i am also working on it but didn't get the result. Can you give me some help that how you send query?

[2018-05-30 03:44] tonyho opened #29 "Need the RS485 config support at modbus package"
The serial package has the RS485 configuration item（RS485 RS485Config） in the Config struct:

[code]

For the ModBus RTU can transfer through RS232 and RS485, I think the RS485Config should be configurable at the modbus package too?

[2018-06-12 07:53] #29 closed, assigned to nobody

[2018-06-21 20:33] agn-7 opened #30 "How to run?"
I'm new in GoLang.
I clone this project, how can I run a simple modbus/TCP holding register with these code files?

[2018-06-27 02:28] ArlenFuCN commented on #30
Hi ，you don't clone this.
With Golang,you just use "go get " to download this package and install it.
then,in your project,you have to set the "GoPath".
and next, you just "import " this package,you can use this package's method.
about "go get" of goland,I think you can google it.you will get lots of information about it.

[2018-06-29 16:07] agn-7 commented on #30
Thanks, I set `$GOPATH=$HOME/go` in `.bashrc` and do `go get github.com/goburrow/modbus.git` in gopath location (`~/go/`) then I do `go install github.com/goburrow/modbus/`.
Then I create a go project and use `go modbus` library in my code.

This is my "gopath" tree:

[code]

And this is my "own_modbus" code:

[code]

Is there any "go modbus" documentation and examples such as [pymodbus](http://py

[2018-07-02 00:30] nqv commented on #30
There is an example: https://github.com/goburrow/modbus#usage
Docs: https://godoc.org/github.com/goburrow/modbus#Client

[2018-08-31 12:40] webhat commented on #29
Is there a reason you closed this?

[2018-09-19 07:18] andig commented on #28
It's this line https://github.com/goburrow/modbus/blob/0d0a427beb37599ff34f8d74617af5ac403e9700/rtuclient.go#L123 which needs to be `% x` instead of `%q` for consistency.

@nqv would you accept a PR for this? We're heavily using this library in https://github.com/gonium/gosdm630.

[2018-09-19 07:26] nqv commented on #28
sure, please send PR - sorry I haven't done it yet

[2018-09-19 07:38] andig commented on #28
Much appreciated, thank you!

[2018-09-19 08:27] andig opened #32 "Tag a version"
With recent advancements in go, most notable `dep` and as of golang 1.11 go modules, it would be nice to tag a version. What do you think about tagging a v1.0.0, maybe together with #22 (maybe #27)?

[2018-09-19 09:23] #28 closed, assigned to nqv

[2018-09-19 10:08] nqv commented on #32
I have tagged v0.1.0. I'll check those PRs later

[2018-09-23 10:00] andig commented on #32
Great- I'd also like to add #33 to the wishlist :)

[2018-09-29 09:16] andig commented on #32
ping @nqv any chance you could spare some minutes looking into these two PRs? If you're interested I'd also be happy to help out in maintaining this repo as gosdm is one of its consumers.

[2018-10-01 19:38] mhemeryck opened #34 "Polling modbus TCP"
HI; just a ticket for asking you a question.

I am currently working on a personal project requiring me to do a continuous polling loop on a modbus TCP server; see https://github.com/mhemeryck/modbridge for my project. The idea is to push any detected changes from the polling loop into an MQTT event. The use case I am looking at is having something PLC-like in a home automation setup.

For the mod

[2018-10-02 07:03] mhemeryck commented on #34
From looking the code (e.g. https://github.com/goburrow/modbus/blob/606c02f4eef527a1d4cf7d8733d5fd7ba34f91d8/tcpclient.go), the connection only closes after a time-out of 60s, so I assume it's not really required to manage the TCP connection any other way for my purpose, right?

[2018-10-02 07:17] nguyenthenguyen commented on #34
@mhemeryck You no need manage TCP connection. Connection closed when [Close method](https://github.com/goburrow/modbus/blob/606c02f4eef527a1d4cf7d8733d5fd7ba34f91d8/tcpclient.go#L232) called or after timeout when not have any activity by flag `mb.lastActivity`

[2018-10-02 08:39] mhemeryck commented on #34
Thanks for the quick feedback, this confirms what I found there :+1:

That's actually nice, since it means I don't need to do any management on the TCP connection level. I would only need to make sure I would re-use the same client -- which I am already doing. I could perhaps find some speed-up in having multiple clients each doing their own polling (but then the server would need to be able to ke

[2018-10-05 19:46] mosleim opened #35 "EOF panic modbus tcp-client."
i just create simple mobdus tcp-client(modbus master). Everythings works perfectly. But, some of condition, my program panic triggeren and closed. this is my piece of code:

[code]
simple and this code is buggy. my program always panic and closed when the ethernet wire is disconnected(accidentally). the error caused by EOF. how to detect EOF and i can reconnect if possible?

[2018-10-10 06:51] mhemeryck commented on #34
Just noticed this ticket was still open; my question was pretty much answered by now.

For my setup, I did end up having each of my groups of coils to be polled have their own client instance. I still think it's probably not that "pretty", but as the client manages the connection itself, it makes sense I suppose.

[2018-10-10 06:51] #34 closed, assigned to nobody

[2018-10-19 20:09] clemansta opened #37 "Slave Modbus RTU over TCP"
I am attempting to create a holding register for simulating a modbus RTU slave. I am working in python and need some direction to create this. Any suggestions.

[2018-11-05 14:16] laneschmidt commented on #23
?

[2018-11-23 16:12] andig opened #38 "Modbus exceptions not handled"
It seems exceptions (http://www.simplymodbus.ca/exceptions.htm) are not handled and returned as read results.

[2018-11-23 16:28] andig commented on #38
Actually, they are- seems some sunspec meters just don't use them.

[2018-11-23 16:28] #38 closed, assigned to nobody

[2018-12-23 10:33] xft opened #41 "macOS RTU not work"
modbus RTU not work on macOS.
It seem serial port config (termios) not correct, not config to raw mode.

[2018-12-26 23:41] pbdqpbdq opened #43 "Working with multiple serial devices"
Hi

I've successfully used the library to interact with one RS485 device, however working with multiple devices seems less than ideal.
Currently SlaveId is a property of the handler which needs to be adjusted every time. I think it'd make more sense to derive multiple Clients each with its own SlaveId from the handler and then be able to work with them without touching the handler. What do you thi

[2019-01-05 13:35] andig commented on #23
This is a go library, you're using python?

[2019-03-21 20:02] garciaolais opened #44 "Check if handler is connected"
Hi

follow this example  ...

[code]

How can I check if the `handler` is still connected to my modbus controller?

Maybe something like .....  ?

[code]

[2019-05-10 08:20] wuxc commented on #13
check this out [mbserver](https://github.com/tbrandon/mbserver)

[2019-05-26 05:03] kjcx opened #46 "非标准modbus协议"
标准modbus协议是地址在前功能码在后 这个怎么是相反呢

[2019-06-06 21:45] Edgar242 opened #47 "Error: "System cannot find the file specified." opening port when port number is high ex: "COM15""
I have windows 10 and when I try to open serial port "COM15" I got:
"System cannot find the file specified."

the issue is solved if I manually changed it to another closer port to COM1 for example: "COM2"

[2019-06-14 22:45] Edgar242 commented on #47
Problem is solved here:

https://github.com/goburrow/serial/pull/13

[2019-07-18 10:54] ruixule opened #48 "串口不能进行状态的自动切换"
其中没有实现，串口的状态的修改。

[2019-08-05 22:54] deepch opened #50 "Perhaps someone will be able to tell what kind of data type real 2"
im recive [255 56 255 106] ff38ff6a. I know this value = -20
im recive [6 64 0 0] 06400000 I know this value = 16
im recive [0 5 0 10] 0005000a I know this value = 0.5

but I just can't figure out how to get it.

im looking doc data typre real and scale factor 10  and data type real ;(

Maybe someone knows how to decipher it?

[Corrigo_E_ventilation_variables_for_EXOline_and_Modbus_3.0_manu_en.pdf

[2019-08-15 01:11] #50 closed, assigned to nobody

[2019-08-22 22:23] rojer opened #51 "Idle close of a serial connection is racy and may cause a crash"
the crash happens inside Send invoked [here](https://github.com/goburrow/modbus/blob/606c02f4eef527a1d4cf7d8733d5fd7ba34f91d8/rtuclient.go#L137) and is due to nul dereference of mb.port, which was nulled just as the goroutine was sleeping one line above.
sometimes it's the mb.port.Write that fails as the socket is being closed.
this requires precise timing and happens if the polling interval is th

[2019-09-08 00:48] ibrt commented on #43
I have the same issue. Seems like an incorrect assumption in the way the abstraction is modeled, i.e. one serial port can have multiple devices connected to it on a bus. Other than that this library is great.

That said, you'd still need to communicate to each device in mutual exclusion, so changing the SlaveID is less of a problem than one would assume.

[2019-09-08 22:34] ToM-MaS opened #52 "How to not loose values or not read values twice (synchronisation)"
The Energy meters made by www.janitza.de update their internal modbus registers every 0.2 seconds.
When I poll these values each 0.2 seconds over TCP, I want to:
- not loose an updated value because in my setup each value is important
- not read a value twice (or discard a duplicated value an immediately try to catch the next updated value)
But because afaik modbus does not provide any synchronisa

[2019-09-10 14:28] airsence opened #53 "Read File Record Implement"
In one of my software, I need to use Read File Record command (function code 20). I checked your source code, this command seems to be no implemented.

[2019-09-20 19:29] marthalas opened #54 "Error : modbus: response unit id '1' does not match request '3'"
Hi,
I am new to modbus. When i keep slave id 1 and readCoil  on modbus device , everything works perfect but changing the slave id to other then 1 causing below error
Error :  modbus: response unit id '1' does not match request '3'
Where as WriteCoil works with no issues either it is slave id 1 or any.

I have only 1 device attached modbus gateway. I am using TCP NewTCPClientHandler.

Any suggesti

[2019-11-15 15:05] alikxus commented on #47
Hello, Problem is not solved. I use com10 and i recieved - COM10 - The system cannot find the file specified. I need your help

[2019-11-15 15:31] Edgar242 commented on #47
Check this pull request, it has the changes needed
https://github.com/goburrow/serial/pull/13

[2019-11-18 11:00] alikxus commented on #47
Do I understand correctly? i need use this string, for example:
handler := modbus.NewRTUClientHandler("\\\\.\\com10")

[2019-11-18 21:17] Edgar242 commented on #47
Yes, I think name must be in uppercase: "\\\\.\COM10"
Can you try please?

[2019-11-19 12:10] alikxus commented on #47
thank you, editor deleted first 2 back slaches
![image](https://user-images.githubusercontent.com/21196614/69145439-4a0f0980-0ad6-11ea-8d4f-9852e113e934.png)
this way work for me.
and it work without uppercas

[2019-11-19 12:16] Edgar242 commented on #47
Great, nice to know!

[2019-12-20 14:20] JoyG42 opened #56 "Serial Timeout after certain request fails"
When I use got timeout very frequent but didn't have any issue with modbuspoll

Please correct me if I'm doing any mistake,
FOR MODBUSPOLL:
/data/modpoll/modpoll/linux_arm-eabihf/modpoll -b 115200 -p none -m rtu -a 1 -r 618 -c 13 -t 3 -o 0.1 -l 200  /dev/ttyUSB_HRT

FOR GOBURROW=> MODBUS_RTU
        handler1 := modbus.NewRTUClientHandler("/dev/ttyUSB_HRT")
	handler1.BaudRate = 115200
	handler1.Dat

[2019-12-24 02:48] dontsovcmc commented on #37
It's very useful cause there are a lot of 485-Ethernet (485-GPRS) gateways. I also need it.

[2020-01-13 09:28] houaq commented on #43
same issue +1, maybe I should make a fork.

[2020-02-11 05:25] #44 closed, assigned to nobody

[2020-04-02 13:47] Serhioromano commented on #52
I understand what you mean, and this is not an answer to how to do that but rather suggestions.

From what you describe I understand that you want to calculate energy. I have to say that the method you've chosen is not used for that purpose. That one is more lime monitoring purposes. Imagine your request for some reason is longer than 0.2? First, you must use ticker to send requests, in that case,

[2020-04-05 16:38] Serhioromano opened #57 "[SOLVED] Cannot wring single Coil"
I've managed to read all data I need. Now I start writing. I use this function

[code]

But I hav EOF error.

What do I do wrong?

`i` is 0 and 1 2 in a cycle

[2020-04-06 04:15] Serhioromano commented on #57
Looks like WriteSingleRegister acts the same.

[2020-04-06 08:08] Serhioromano commented on #57
My bad. Works now.

[2020-04-06 08:08] #57 closed, assigned to nobody

[2020-05-12 16:10] HarryChen001 opened #58 "RS485:How to set a customize rts handler"
i dont know how to set a rts handle when i using rs485 device

[2020-05-16 15:51] muhlemmer opened #59 "TCP length header included device ID?"
I wanted to learn more about the MODBUS TCP protocol and found this library and started reading the sources to get a better understanding. I came across this in the `tcpTransporter.Send()` method:

https://github.com/goburrow/modbus/blob/606c02f4eef527a1d4cf7d8733d5fd7ba34f91d8/tcpclient.go#L173-L178

Where:

https://github.com/goburrow/modbus/blob/606c02f4eef527a1d4cf7d8733d5fd7ba34f91d8/tcpclien

[2020-06-04 08:44] nandra commented on #54
Have same and track it down and it looks that device send response with different ID like request. I'm not sure but I think it's device fault not this library.

[2020-06-25 21:10] rogierlommers opened #61 "Read data out of SMA sunnyBoy"
Hey, maybe a bit stupid question, but do you think it's possible to use this package to read data out of my sunnyboy inverter? According to the website it supports modbus. I also opened port 502 and by using `netcat` I indeed see some response on that port. But then what? What is my next approach in finding out what "registers" I should read to get the current generated solar energy?

[2020-07-23 03:09] liupzmin commented on #46
你是不是把ADU中的地址和PDU的地址弄混了？

[2020-07-31 09:45] fenglingxian opened #62 "如何读取到串口列表"
如题：
 如果我想动态获得计算机串口号  如何获得本机的串口列表

[2020-08-13 16:59] wz2b opened #63 "Feature request: ability to set unit id on a request by request basis"
I have a gateway with multiple "slave" (we should rename that "unit") devices attache.  Need to be able to specify slave addr per call, rather than changing the per connection SlaveID which works but raises potential concurrency problems.

[2020-08-13 17:08] wz2b commented on #61
i'm doing it.  what model inverter?  you need to find the right modbus map for your inverter.  They are not consistent across models.

I am using telegraf, which uses this project for modbus protocol support.

[2020-08-16 19:47] rogierlommers commented on #61
Thanks for your reply; I want to read a SMA Sunnyboy, model "Sunny Boy 3.6 1AV-41". Any idea how to proceed with this?

[2020-08-21 13:03] wz2b opened #64 "Error: response transaction id does not match request"
If you leave this driver running long enough, you get this:

[code]

forever.  I have seen this type of thing before... I think the normal fix is to make sure that if you get a transaction with a transaction ID earlier than the one you requested, recognize that it's old and throw it away.

[2020-08-21 15:17] wz2b commented on #64
What causes this is network delay.  You launch a poll, you don't get a response within some timeout, and so you launch a second poll, then the response to the first one comes in.  At that point, this connection is ruined forever as this driver is currently written, it will always be one transaction out of step.

You can somewhat mitigate this by making the timeout longer, but you don't want long t

[2020-08-26 21:42] wz2b commented on #64
This is resolved by #65 (if accepted)

[2020-08-29 17:14] lg007 opened #66 "Use of the library with Raspberry Pi 3 and a MAX13487E that has AutoDirection Control"
Hello,

I hope someone can help me. I am trying to use the library with a Raspberry Pi 3 and a MAX13487E that has AutoDirection Control. My problem is that the RX line is receiving constantly what the TX line is sending. Probably it is a problem with the MAX13487E circuit, and I will try to solve it, but is it possible somehow to just ignore what is sent on the TX line, i.e ignore its own messages

[2020-09-02 16:04] lg007 commented on #66
I figured out what to do, in case someone is also having the same problem.

The solution is to add the following code snippets to client.go:
On line 10:
`"bytes" `
On line 451:
[code]
This addition will cancel out the echo, but only if the echo is really an echo and not some other message on the  rs485 bus.

[2020-09-02 16:04] #66 closed, assigned to nobody

[2020-09-16 11:09] pdorrestijn opened #67 "reading of holding register limited to 125 bytes"
Reading quantity for holding register (and others) are limited.
Not sure why this is limited, but I would like to read quite some more.
Can I change this? Are there any limitations?

[2020-09-16 11:10] pdorrestijn commented on #67
p.s. this would be over tcp/ip

[2020-09-16 11:15] pdorrestijn commented on #67
Ah, just found my answer: modbus message size may not exceed 255 bytes....

[2020-09-16 11:16] #67 closed, assigned to nobody

[2020-10-23 05:55] Zichen0829 opened #68 "illegal function"
modbus: exception '1' (illegal function), function '131'
Always inform there is a error.
I only used very simple modbus/Tcp example like that.
What's wrong with that? I also used modbus slave and choose 03 holding register.

package main

import (
	"fmt"
	"github.com/goburrow/modbus"
)

func main() {
	cli := modbus.TCPClient("127.0.0.1:502")
	res, err := cli.ReadHoldingRegisters(0, 3)
	fmt.Println

[2020-11-03 15:36] #37 closed, assigned to nobody

[2020-11-09 06:00] nimahkh commented on #37
Hi guys,
is there any chance to get RTU over TCP connection?

[2020-11-09 08:37] nimahkh commented on #56
Same here

[2020-11-10 07:36] nimahkh commented on #68
Did you test the device with modpoll? first test the device and be sure that data is coming from tools. then check that the addresses and quantity are right. some time, this error happened when you give wrong address. mot of devics are working with slave 1. and also check the port, maybe our port is 1000 or 1001, you can check it with telnet.

[2020-12-09 10:45] ermisp commented on #56
hello, can you post your "sudo dmesg" so we can see if the kernel has any weird behaviour related to this?

[2021-01-03 06:47] Serhioromano opened #69 "Is there something like keep alive flag?"
I use TCP handler. Some devices I connect are old and they disconnect after few seconds. keep alive would some the issue.

[2021-02-02 21:58] Hualin-AUG commented on #58
Also here. When working with an RS485 and need to set an RTS handler, there is no way there. I see there is an RS485 config, but inside that, it does not provide a pin number or customize the RTS handler

[2021-03-10 01:59] hongjinlin commented on #35
I encountered the same problem. Has your problem been solved?

[2021-03-16 11:28] gaorongfu commented on #43
Hello! Have that fork been done?

[2021-03-16 11:32] maddie commented on #43
I have migrated to [simonvetter/modbus](https://github.com/simonvetter/modbus)

[2021-03-16 11:35] gaorongfu commented on #43
It's great! Thanks a lot !

[2021-03-16 13:43] houaq commented on #43
Yes, you can try it at houaq/modbus.

发自我的iPhone

------------------ Original ------------------
From: gaorongfu ***@***.***&gt;
Date: Tue,Mar 16,2021 7:28 PM
To: goburrow/modbus ***@***.***&gt;
Cc: Atsing Hou ***@***.***&gt;, Comment ***@***.***&gt;
Subject: Re: [goburrow/modbus] Working with multiple serial devices (#43)

same issue +1, maybe I should make a fork.

Hello! Have that fork been don

[2021-04-11 15:56] ghost opened #71 "golang >v.1.16.3 couldn't find package serial"
I have a problem with build my tool on golang version 1.16.3. It says that it can't find package github.com/goburrow/serial even I've downloaded via command "go get github.com/goburrow/serial". When I reinstalled golang to version 1.15.11 my tool became build.

How find out what's changed in version 1.16.x?

[2021-04-16 11:38] pdorrestijn opened #72 "Write registers in parallel over tcp"
Thank you for this library.
I was told when you communicate modbus over tcp, it is possible to send multiple messages using the same connection and write the holding registers in parallel.
Each request would be differentiated with an id.
However the TCP transaction handler in this library has a mutex in the send method preventing parallel messaging.
Ofcourse I could create multiple connections, bu

[2021-05-04 14:27] April3xx opened #73 "write negative value."
is there any way to write a negative value to modbus equipment? it looks like this package doesn't support the negative value? or is there a way to send negative value? please help.

[2021-05-17 06:58] April3xx commented on #73
I solved the problems by just edit everything that is uint16 to int16 including  encoding/binary

[2021-05-17 06:58] #73 closed, assigned to nobody

[2021-06-15 05:16] hubertat opened #74 "Error "too many open files" on ReadHoldingRegisters for RTUClient"
Hi, I'm getting `too many open files` error when reading from RTUClient handler.

It happens when program is running for quite a long time.
Example code below, please note that `RTUClientHandler` is created only once and exists for whole lifetime of my program.
As you can see below, connection is closed (by defer) after each reading attempt. I'm not doing any concurrent readings.

[code]

I think

[2021-07-15 11:35] PearceDuan opened #76 "SYS_IOCTL (RS485): inappropriate ioctl for device"
When I call client.ReadHoldingRegisters func, and it return an error just like issue title: `SYS_IOCTL (RS485): inappropriate ioctl for device`

Help please!

## OS
[code]
## Go version
[code]
## Go env
<details>
  <summary>go env</summary>
<pre>
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/pearce/.cache/go-build"
GOENV="/home/pearce/.config/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"

[2021-07-22 09:59] 19872730540 opened #77 "Why serial: timeout"
coil, err := client.ReadInputRegisters(0, 1)
	if err != nil {
		log.Println("modbus WriteSingleCoil error:",err.Error())
		return
	}

[2021-07-22 10:00] 19872730540 commented on #77
Client creation normal

[2021-08-01 06:35] qs-wang opened #78 "WriteSingleRegister time out, though Python code works"
client.ReadHoldingRegisters(0x0400, 1) works

client.WriteSingleRegister(0x400, 0xff)  failed with timeout

Though same config works with Python and NodeJS code.
I debugged the go code into this lib, and seems the message is identical with Python. Any hints there?

Seems an issue in the serial lib.
I tried the other go serial lib with the code as below. The modbus command works all right.
`package

[2021-08-01 08:12] qs-wang commented on #78
The code works on Windows, so more of Mac specific bug. Haven't tried Linux box yet

[2021-08-02 07:38] qs-wang commented on #78
Works on Linux, so it's a big-sur specific problem I'd guess

[2021-09-13 01:51] PearceDuan commented on #76
change `handler.RS485.Enabled = false` work for me although I don't know the root cause

[2021-09-13 01:51] #76 closed, assigned to nobody

[2021-10-30 07:24] QiQi-OvO opened #81 "About the functionFail"
`functionFail := aduRequest[1] & 0x80`
I think the corrcet answer `functionFail := aduRequest[1] | 0x80`

[2022-02-14 16:57] shantanoo commented on #63
Just thinking out loud, would setting `handler.rtuPackager.SlaveId` / `handler.SlaveId` just before the operation help? https://github.com/grid-x/modbus/blob/master/rtuclient.go has `SetSlave` function.

[2022-02-15 11:19] xxandev commented on #63
i made it so for myself, maybe it will help
https://github.com/alpr777/modbus
https://github.com/alpr777/modbus/blob/main/example/main.go

[2022-03-30 18:00] jonaz commented on #74
Why do you create a new client on every read? that might leak?

[2022-06-01 12:36] wwhai commented on #48
你想怎么修改？

[2022-07-28 19:46] Prushka commented on #44
Why was this closed? Is there a way to check if the connection's alive (if the server chooses to close it)?

[2022-08-08 02:30] wwhai commented on #72
you need lock this connection

[2022-08-08 16:49] Prushka opened #84 "How to tell if server closes the connection?"
In my test, once the server forces a disconnection, the local `conn` will still be set and all client operations will fail.
`mb.connect()` doesn't get triggered in this case.

I couldn't find anything regarding this in the library. I had to check client calls for errors and manually close and connect.
Is this intended? Is there a better way to achieve this (_e.g.,_ check for broken pipe errors and

[2022-09-14 15:16] andreapicaro opened #85 "Interface{} to modbus-compatible slice conversion"
Hello,
is there any example of how to convert from an interface{} to a writable slice of bytes respecting modbus type and endianness.
I was able to find the opposite (from byte slice read from modbus to interface{}) in telegraf code. Now I shall implement the opposite API for writing into modbus and all that conversions appears tricky.

Thanks

[2022-11-08 12:12] askfiy commented on #67
I also encountered this problem, is there any good solution?
@pdorrestijn

[2022-11-27 11:37] dataselfservice opened #88 "panic due to concurrent closeIdle and Send()"
Hi,

running version 606c02f and RTU 60 seconds sampling rate (modbus polls) == serialIdleTimeout, after changing hardware (to faster one) the following panic occured.

[code]

It appears `closeIdle`, from `modbus/serial.go:90` runs in parallel with `Send`, from `modbus/rtuclient.go:113`. In some (unfrequent cases) `mb.close()`, `modbus/serial.go:100`, from previous `Send`, occurs in current`Send`